Source: xfce4-weather-plugin
Section: xfce
Priority: optional
Maintainer: Debian Xfce Maintainers <pkg-xfce-devel@lists.alioth.debian.org>
Uploaders: Yves-Alexis Perez <corsac@debian.org>,
 Lionel Le Folgoc <mrpouit@gmail.com>
Build-Depends: autotools-dev, debhelper (>= 9), dpkg-dev (>= 1.16.1),
 xfce4-panel-dev (>= 4.8.0), libxml2-dev, libxml-parser-perl, intltool, 
 libxfce4ui-1-dev, libsoup2.4-dev, xfce4-dev-tools, automake, autoconf, libtool,
 dh-autoreconf
Standards-Version: 3.9.8
Homepage: http://goodies.xfce.org/
Vcs-Svn: svn://anonscm.debian.org/pkg-xfce/goodies/trunk/xfce4-weather-plugin/
Vcs-Browser: https://anonscm.debian.org/viewvc/pkg-xfce/goodies/trunk/xfce4-weather-plugin/

Package: xfce4-weather-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: weather information plugin for the Xfce4 panel
 The weather plugin displays information about the current weather according
 your timezone and settings. It allows one to search weather location code in
 the same plugin and displays weather status in little icons.
 .
 Features include:
  - Temperature, atmospheric pressure and state.
  - Wind speed, gust, and direction.
  - Humidity, Visibility, Dew-point, UV Index.
